body, html {
  height: 100%;
  margin: 0;
}

.signup-container {
  background-image: url('https://repository-images.githubusercontent.com/452334441/b5da6131-e638-4464-9572-310f86f8340f'); /* Add your background image path */
  background-size: cover;
  background-position: center;
  height: 100vh; /* Full height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-form {
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
